 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Montserrat', sans-serif;
     background-image: url("../images/big_hero.jpg");
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .container {
     max-width: 1240px;
     margin: auto;
 }
 
 .gradient_card {
     max-width: 613px;
     background-image: linear-gradient(#306ed5, #b23c8a);
     min-height: 790px;
     margin: 60px auto 0 -43px;
 }
 
 .blue_card {
     max-width: 980px;
     min-height: 571px;
     background-color: #0F2757;
     z-index: 2;
     position: absolute;
     top: 12%;
     padding-left: 90px;
     padding-right: 84px;
 }
 
 .app_os {
     font-weight: 700;
 }
 
 .btn {
     letter-spacing: 2px;
     text-transform: uppercase;
     text-decoration: none;
     margin: 81px 3.4375px 0px -9.42px;
     padding: 20px;
     border-radius: 4px;
     cursor: pointer;
     position: absolute;
 }
 
 .btn:hover {
     background-color: #ff0000;
 }
 
 .btn,
 h1 {
     font-weight: 700;
 }
 
 .left_4bars {
     width: 250px;
     margin: -131px auto 0 -221px;
     z-index: 3;
     position: absolute;
     top: 14%;
     left: 22%;
 }
 
 .web_design {
     z-index: 10;
     position: absolute;
     top: 13%;
     left: 100%;
 }
 
 h5 {
     text-transform: uppercase;
     letter-spacing: 3px;
     font-size: 1.5rem;
     margin-bottom: -1.5rem;
 }
 
 h2 {
     font-size: 10.5rem;
     line-height: 1;
     letter-spacing: -5px;
     font-weight: 700;
 }
 
 .red_circle {
     font-family: 'Open Sans', sans-serif !important;
     width: 51px;
     height: 49px;
     background-image: none;
     box-shadow: 2px 2px 15px 0 rgb(0 0 0 / 45%);
     position: absolute;
     top: 55%;
     border-radius: 50%;
 }
 
 .software {
     position: absolute;
     right: 21%;
     z-index: 14;
 }
 /* Elements with same property and values  */
 
 .software p,
 .blue_card p {
     font-family: Roboto, sans-serif !important;
     margin-bottom: 2px;
     margin: 20px 0 0;
     font-size: 24px;
 }
 
 .bg {
     background-color: #f15048;
 }
 
 p,
 h1,
 h2,
 h5,
 .btn,
 .app,
 .web_design {
     color: #fff;
 }
 /* properties on all transparent cards */
 
 .app p {
     font-weight: 500;
     font-size: 1.125rem;
     padding: 1rem;
 }
 
 .u-svg-content {
     max-width: 60px;
     fill: #fff;
 }
 
 .windows_app,
 .mac_os_app,
 .wordpress,
 .joomla,
 .nicepage_online {
     background-color: #3ea4fdc0;
     opacity: 0.8;
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     margin: 4px;
     padding: 1rem;
     max-width: 100%;
     flex: 1;
 }
 /* End of elements of same properties and values */
 
 h1 {
     font-size: 2.25rem;
     line-height: 1.2;
     max-width: 750px;
     margin: 20px 0 0;
 }
 
 h3 {
     color: #e5e5e5;
     font-size: 24px;
     margin: 26px 0 0;
 }
 
 @media only screen and (min-width: 700px) {
     .web_design {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-transform: uppercase;
         background-color: #4184f4;
         max-width: 240px;
         opacity: 1;
         z-index: 10;
         position: absolute;
         top: 10%;
         left: 63%;
     }
     .web_design h2 {
         font-size: 10.5rem;
         line-height: 1;
         font-weight: 800;
         padding: 15px;
     }
     .software {
         display: flex;
         flex-wrap: wrap;
         position: absolute;
         bottom: 16%;
         right: 25%;
     }
     .app:hover {
         transform: rotateY(180deg);
         transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
         background-color: rgb(132, 209, 24);
     }
     .btn {
         margin: 33px 253.438px 55px 253.422px;
         padding: 15px 56px 16px;
     }
     h1 {
         font-size: 3.75rem;
         margin: 20px 0px 0px;
         font-weight: 700;
     }
     h3 {
         font-family: Roboto, sans-serif !important;
         font-weight: 300;
         font-size: 1.5rem;
         margin: 26px 0 0;
         padding-top: 2rem;
     }
 }
 
 @media only screen and (max-width: 320px) {
     .container {
         max-width: 100%;
         margin: auto;
         margin: 1rem;
     }
     .software {
         display: block;
         padding-top: 6.5rem;
         text-align: center;
         position: absolute;
         right: 1%;
         z-index: 14;
     }
     h1 {
         font-size: 2rem;
         font-weight: 100;
         margin-left: -6rem;
     }
     h3 {
         font-family: Roboto, sans-serif !important;
         font-weight: 300;
         font-size: 1.5rem;
         margin: 26px 0 0;
         padding-top: 2rem;
         margin-left: -5.5rem;
     }
     .blue_card {
         max-width: 980px;
         background-color: #0F2757;
         z-index: 2;
         position: absolute;
         top: 12%;
         text-align: left;
     }
     .blue_card p {
         font-family: Roboto, sans-serif !important;
         margin-bottom: 2px;
         font-size: 24px;
         margin-left: -6rem;
     }
     .btn {
         text-transform: uppercase;
         text-decoration: none;
         padding: 20px;
         border-radius: 4px;
         cursor: pointer;
         position: absolute;
         left: -3%;
         padding: 1.5rem;
         max-width: 150px;
     }
 }